<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quipsimply</title>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
</head>
<body>

<div class="container">

    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="column column-50 column-offset-25">
            <img src="{{ url_for('static', filename='logo.png') }}"/>
        </div>
    </div>

    <div class="row">
        <div class="column column-50 column-offset-25">
            <form method="post" action="create_episode">
                <fieldset>
                    <label for="nameField">Room password</label>
                    <input type="text" name="password" id="password" required maxlength="4" minlength="4" autocomplete="off" style="text-transform:uppercase">
                    <input class="button-primary" type="submit" value="Send">
                </fieldset>
            </form>
        </div>
    </div>



</div>

</body>
</html>